/*ESTILO PÁGINA INICIO*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*ESTILOS DEL HEADER*/

.cabezero {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0 0 7px rgb(75, 74, 74);
}

#logoCabezero {
    width: 10%;
}

#navegacionCabezero {
    width: 60%;
}

.navegacionPrincipal {
    position: relative;
    width: 600px;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(7, 7, 77);
    padding: 12px 12px;
}

.navegacionPrincipal a {
    padding: 0 3px;
}

.opcionCabezero {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
}

.opcionCabezero:hover {
    color: rgb(51, 169, 238);
}

#buscador {
    width: 15%;
}

.figuraBuscador {
    position: absolute;
    left: 73%;
    top: 9%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.figuraBuscador:hover .espacioBuscador{
    width: 250px;
}

.figuraBuscador:hover .lupaBuscador .lupa{
    transform: rotate(360deg);
}

.espacioBuscador {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid rgb(51, 169, 238);
    transition: all .7s ease;
}

.espacioBuscador ::placeholder {
    color: gray;
}

.botonBuscador {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-color: rgb(51, 169, 238);
    line-height: 80px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    box-shadow: inset 0 0 8px rgb(7, 7, 77);
}

.lupa {
    width: 25%;
    padding: 0 0 10px 0;
}

.botonBuscador .lupaBuscador .lupa{
    font-size: 25px;
    color: whitesmoke;
    line-height: 80px;
    transition: all .7s ease;
}

.botonBuscador:hover {
    background-color: rgb(51, 169, 238);
}

#listaCabezero {
    width: 15%;
    text-align: center;
}

.botonCabezero {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border-color: black;
    padding: 15px 20px;
    color: white;
    background: black;
    transition: 1s all;
    cursor: pointer;
    box-shadow: inset 0 0 8px rgb(7, 7, 77);
    box-shadow: 0 0 8px rgb(7, 7, 77);
}

.listaUnirse {
    display: inline-block;
    position: relative;
}

.listaUnirse:hover .contenidoListaUnirse {
    display: block;
}

.contenidoListaUnirse {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    color: whitesmoke;
    background-color: black;
}

.contenidoListaUnirse a {
    display: block;
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
}

.contenidoListaUnirse a:hover {
    color: whitesmoke;
    box-shadow: inset 0 0 8px rgb(7, 7, 77);
}

/*ESTILOS DEL MAIN*/

.principal {
    background-color: black;
    padding: 30px 0;
}

.tituloPrincipal {
    color: whitesmoke;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    padding: 10px 0;
}

.tituloPrincipal:hover {
    color: rgb(51, 169, 238);
}

.imagenesPrincipal {
    position: relative;
    left: 550px;
    height: 200px;
    width: 260px;
    padding: 30px 0;
}

.imagenesPrincipal .imagenPrincipal {
    position: absolute;
    left: 5px;
    opacity: 0;
    transition: 2s;
}

.imagenPrincipal {
    width: 250px;
    height: 170px;
}

.imagenesPrincipal input[type=radio] {
    position: relative;
    bottom: calc(-160px - 1.5em);
    left: 5em;
}

.imagenesPrincipal input[type=radio]:nth-of-type(1):checked~img:nth-of-type(1) {
    opacity: 1;
}

.imagenesPrincipal input[type=radio]:nth-of-type(2):checked~img:nth-of-type(2) {
    opacity: 1;
}

.imagenesPrincipal input[type=radio]:nth-of-type(3):checked~img:nth-of-type(3) {
    opacity: 1;
}

.imagenesPrincipal input[type=radio]:nth-of-type(4):checked~img:nth-of-type(4) {
    opacity: 1;
}

.imagenesPrincipal input[type=radio]:nth-of-type(5):checked~img:nth-of-type(5) {
    opacity: 1;
}

.galeriaInicio {
    display: flex;
    height: 220px;
    gap: 10px;
    padding: 30px 50px;
}

.galeriaInicio div {
    flex: 3;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    transition: all 1s cubic-bezier(.25, .4, .45, 1.4);
}

.galeriaInicio div:hover {
    flex: 5;
}

#imagenInicio1 {
    background-image: url(/img/gym1.jpeg);
}

#imagenInicio2 {
    background-image: url(/img/gym2.jpeg);
}

#imagenInicio3 {
    background-image: url(/img/gym3.jpeg);
}

#imagenInicio4 {
    background-image: url(/img/gym4.jpeg);
}

#imagenInicio5 {
    background-image: url(/img/gym5.jpeg);
}

/*ESTILOS DEL FOOTER*/

.pieInicial {
    background-color: black;
    display: inline-flex;
}

.mensajePie {
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    padding: 60px 30px;
}

.nombreBlanco {
    width: 10%;
    height: 10%;
    padding: 25px 500px 0 480px;
}

.logoInstagram {
    width: 7%;
    padding: 0 30px 0 0;
}

.pieFinal {
    background-color: rgb(7, 7, 7);
    text-align: center;
    padding: 15px;
}

.navegacionPie {
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(75, 74, 74);
}

.opcionPie {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: rgb(51, 169, 238);
    padding: 0 3px;
}

.opcionPie:hover {
    color: whitesmoke;
}

.mensajeDerechos {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: whitesmoke;
    padding: 15px 0 10px;
}

/*------------------------------------------------------------------------------------------------------*/

/*ESTILO PÁGINA FORO*/

.formularioForo {
    width: 450px;
    height: 350px;
    background: rgb(7, 7, 77);
    margin: 20px auto;
    border-radius: 3px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgb(7, 7, 77);
}

.inicioFormulario {
    display: block;
    height: 350px;
    width: 450px;
    margin: 0px auto;
    position: absolute;
    background: black;
    margin-top: 15px;
}

.formularioForo .logoForo {
    width: 40%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.formularioForo #informacionForo {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0;
}

.formularioForo #especificacionForo {
    font-size: 10px;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
}

.entradaForo[type="email"] {
    width: 85%;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: -80px;
    border: none;
    border-bottom: 1px solid rgb(51, 169, 238);
    overflow: auto;
    position: relative;
    background-color: black;
    color: whitesmoke;
}

.entradaForo[type="email"]:active:focus,
.entradaForo[type="email"]:focus,
.entradaForo[type="email"]:hover {
    outline: none;
    font-size: 20px;
}

.entradaForo[type="email"]:focus::-webkit-input-placeholder,
.entradaForo[type="email"]:active:focus::-webkit-input-placeholder {
    font-size: 12px;
    display: block;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.entradaForo ::placeholder {
    font-size: 14px;
    color: whitesmoke;
    text-transform: capitalize;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inicioFormulario .botonForo {
    width: 85%;
    background: rgb(7, 7, 77);
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
}

.inicioFormulario .botonForo:hover {
    background-color: rgb(51, 169, 238);
    cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------*/

/*ESTILO PÁGINA SESIÓN Y REGISTRO*/

.cuadroSesion {
    position: relative;
    left: 35.5%;
    width: 400px;
    padding: 50px;
    background: black;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(7, 7, 77);
    border-radius: 10px;
}

#tituloSesion {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.cuadroInformacionSesion {
    position: relative;
    top: 30px;
}

.cuadroInformacionSesion input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(7, 7, 77);
    outline: none;
    background: transparent; 
}

.cuadroInformacionSesion input::placeholder {
    position: relative;
    left: 120px;
    color: black;
}

.cuadroInformacionSesion input:focus::placeholder,
.cuadroInformacionSesion input:valid::placeholder{
    left: 0;
    color: rgb(151, 145, 145);
    font-size: 15px;
}

.cuadroInformacionSesion label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: whitesmoke;
    pointer-events: none;
    transition: .5s;
}

.cuadroInformacionSesion input:focus ~ label,
.cuadroInformacionSesion input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(51, 169, 238);
    font-size: 12px;
}

.cuadroSesion form a {
    position: relative;
    left: 28%;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(51, 169, 238);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.cuadroSesion a:hover {
    background-color: rgb(51, 169, 238);
    color: whitesmoke;
    border-radius: 1px;
    box-shadow: 0 0 5px rgb(51, 169, 238),
                0 0 25px rgb(51, 169, 238),
                0 0 50px rgb(51, 169, 238),
                0 0 100px rgb(51, 169, 238);
}

.cuadroSesion a span {
    position: absolute;
    display: block;
}

.botonRegistro {
    position: relative;
    left: 28%;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(51, 169, 238);
    background-color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
}

.botonRegistro:hover {
    background-color: rgb(51, 169, 238);
    color: whitesmoke;
    border-radius: 1px;
    box-shadow: 0 0 5px rgb(51, 169, 238),
        0 0 25px rgb(51, 169, 238),
        0 0 50px rgb(51, 169, 238),
        0 0 100px rgb(51, 169, 238);
}

.cuadroSesion a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(51, 169, 238));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.cuadroSesion a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(51, 169, 238));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.cuadroSesion a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(51, 169, 238));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%, 100% {
        right: 100%;
    }
}

.cuadroSesion a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(51, 169, 238));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%, 100% {
        bottom: 100%;
    }
}

/*------------------------------------------------------------------------------------------------------*/

/*ESTILO PÁGINA PLANES*/

.planesGym {
    display: flex;
    overflow-x: scroll;
    padding: 40px 50px;
    width: 350px;
    height: 250px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 25px;
    margin: 0 auto;
}

.planesGym::-webkit-scrollbar {
    -webkit-appearance: none;
}

.planesGym::-webkit-scrollbar-button:increment,
.planesGym::-webkit-scrollbar-button {
    display: none;
}

.planesGym::-webkit-scrollbar:vertical {
    width: 10px;
}

.planesGym::-webkit-scrollbar:horizontal {
    height: 10px;
}

.planesGym::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 20px;
}

.planesGym::-webkit-scrollbar-track {
    border-radius: 10px;
}

.planGym {
    flex: 0 0 100%;
    padding: 30px;
    border-radius: 10px;
    scroll-snap-align: start;
}

.planGym:nth-child(1) {
    background-color: rgb(51, 169, 238);
    background-image: linear-gradient(43deg, rgb(7, 7, 77) 0%, rgb(51, 169, 238) 100%);
}

.planGym:nth-child(2) {
    background-color: rgb(51, 169, 238);
    background-image: linear-gradient(160deg, rgb(51, 169, 238) 0%, #95cfc9 100%);
}

.planGym:nth-child(3) {
    background-color: rgb(51, 169, 238);
    background-image: linear-gradient(160deg, #95cfc9 0%, rgb(7, 7, 77) 100%);
}

.planGym:nth-child(4) {
    background-color: rgb(51, 169, 238);
    background-image: linear-gradient(43deg, rgb(51, 169, 238) 0%, rgb(7, 7, 77) 100%);
}

.tituloPlanes {
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    padding-top: 5px;
    text-align: center;
}

.especificacionPlan {
    padding-top: 20px;
    color: whitesmoke;
    height: 90px;
}

.cuadroBotonPlanes {
    text-align: center;
    position: relative;
    top: 10%;
}

.botonPlan {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
}

.botonPlan:hover {
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}