body {
    font-family: 'Montserrat', sans-serif;
}

/*ESTILOS DEL HEADER*/

.cabezero {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0 0 7px rgb(75, 74, 74);
}

#logoCabezero {
    width: 10%;
}

#navegacionCabezero {
    width: 60%;
}

.navegacionPrincipal {
    position: relative;
    width: 600px;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(7, 7, 77);
    padding: 12px 12px;
}

.navegacionPrincipal a {
    padding: 0 3px;
}

.opcionCabezero {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
}

.opcionCabezero:hover {
    color: rgb(51, 169, 238);
}

#buscador {
    background-color: gray;
    width: 15%;
}

.figuraBuscador {
    position: absolute;
    left: 73%;
    top: 9%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.figuraBuscador:hover .espacioBuscador{
    width: 250px;
}

.figuraBuscador:hover .lupaBuscador .lupa{
    transform: rotate(360deg);
}

.espacioBuscador {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid rgb(51, 169, 238);
    transition: all .7s ease;
}

.espacioBuscador ::placeholder {
    color: gray;
}

.botonBuscador {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-color: rgb(51, 169, 238);
    line-height: 80px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    box-shadow: inset 0 0 8px rgb(7, 7, 77);
}

.lupa {
    width: 25%;
    padding: 0 0 10px 0;
}

.botonBuscador .lupaBuscador .lupa{
    font-size: 25px;
    color: whitesmoke;
    line-height: 80px;
    transition: all .7s ease;
}

.botonBuscador:hover {
    background-color: rgb(51, 169, 238);
}

#listaCabezero {
    width: 15%;
    text-align: center;
}

.botonCabezero {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border-color: black;
    padding: 15px 20px;
    color: white;
    background: black;
    transition: 1s all;
    cursor: pointer;
    box-shadow: inset 0 0 8px rgb(7, 7, 77);
    box-shadow: 0 0 8px rgb(7, 7, 77);
}

.listaUnirse {
    display: inline-block;
    position: relative;
}

.listaUnirse:hover .contenidoListaUnirse {
    display: block;
}

.contenidoListaUnirse {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    color: whitesmoke;
    background-color: black;
}

.contenidoListaUnirse a {
    display: block;
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
}

.contenidoListaUnirse a:hover {
    color: whitesmoke;
    box-shadow: inset 0 0 8px rgb(7, 7, 77);
}

/*ESTILOS DEL MAIN*/

.principal {
    height: 310px;
    width: 100%;
    background-color: black;
}

/*ESTILOS DEL FOOTER*/

.pieInicial {
    background-color: black;
    display: inline-flex;
}

.mensajePie {
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    padding: 50px 30px;
}

.nombreBlanco {
    width: 10%;
    height: 10%;
    padding: 25px 500px 0 480px;
}

.logoInstagram {
    width: 7%;
    padding: 0 30px 0 0;
}

.pieFinal {
    background-color: rgb(7, 7, 7);
    text-align: center;
    padding: 15px;
}

.navegacionPie {
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(75, 74, 74);
}

.opcionPie {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: rgb(51, 169, 238);
    padding: 0 3px;
}

.opcionPie:hover {
    color: whitesmoke;
}

.mensajeDerechos {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: whitesmoke;
    padding: 15px 0 10px;
}